body {
    background-color: darkgreen;
    height: 100%;
    width: 100%;
    margin: 0;
}

.container {
    margin-top: 150px;
}

.lane {
    position: relative;
    height: 100px;
    width: 100%;
    border-bottom: 3px dashed yellow;
    border-top: 2px solid black;
    background: #000;
}

.lane.bottom {
    border-top: 3px dashed yellow;
    border-bottom: 2px solid black;
}

.player {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 25px;
}

#player1 {
    background-color: #bcc7cf;
}

#player2 {
    background-color: #cf4744;
}